
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'inventory/product_detail.css' %}">
    <title>Document</title>
</head>
  <body >
    <div class="card">
    <h4 >{{ discount.code }}</h4>
    <p >{{ discount.discount_percent }}</p>
   
    <br>
    <a href="{% url 'discount_upload_view' %}"><button style>Save</button></a>
    
</div>
</body> 
</html> 










