
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'inventory/product_detail.css' %}">
    <title>Document</title>
</head>
  <body >
    <div class="card">
    <h4 >{{ review.product_name}}</h4>
    <p >{{ review.rating }}</p>
    <p >{{ review.comment }}</p>
   <br>
    <a href="{% url 'review_upload_view' %}"><button style>Save Review</button></a>
    
</div>
</body> 
</html> 











